.main_window_basket {
    display: grid;
    height: 100%;
    width: 100%;
    background-color: #cbc5c5;

    user-select: none;

    &__order {
        height: auto;

        position: relative;
        display: grid;
        grid-template-rows: 10% 90%;

        &__execution{

            max-height:95%;
            margin:10px;
            min-height:400px;

            input{
                border:none;
                background-color: #cbc5c5;
                border-bottom: 2px rgba(68, 66, 66, 0.62) solid;
                text-decoration-color: white;

                display: inline-block;

                &:invalid{
                    border-bottom: 2px solid rgb(245, 36, 36);
                }

                &::placeholder {
                    color: rgba(0, 0, 0, 0.67);
                }

                &:focus-visible{
                    border-bottom: 2px solid black;
                    transition: border-bottom-color 1s ease-in-out;
                }

            }

            &__components{
                justify-self: start;
                align-self: center;
                display: grid;
                grid-template-rows: 40% 40%;
                grid-template-columns: 33% 33% 33%;

                &__component{
                    position: relative;
                    &:nth-child(4),
                    &:nth-child(5){
                        margin-top: 20px;
                    }
                    p{
                        transform: scale(0);
                        font-size: 12px;
                        position: absolute;
                        margin: 0;
                        transition: 0.5s;
                    }
                }

                &__input{
                    margin-top: 10px;
                    font-size: 20px;
                    width: 90%;
                    padding: 10px;
                }
            }

            &__info-customer{
                margin-left: 100px;

                &__info{

                    display: grid;
                    grid-template-columns: 50% 50%;
                    grid-template-row: 50% 50%;

                    input{
                        width: 80%;
                    }

                }
            }

        }

        &__head{

            position: relative;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-evenly;

            &__name{
                border-bottom: black 2px solid;
                justify-self: center;
            }

            &__exit{
                position: absolute;
                left: 0;
                display: flex;
                flex-direction: row;
                justify-content: center;
                font-weight: bolder;

                &:hover{
                    transition: 0.5s;
                    cursor: pointer;
                }

                &__arrow{
                    font-size: 26px;
                }

            }
        }
    }

    &__basket {
        height: auto;

        position: relative;
        display: grid;
        grid-template-rows: 10% 90%;

        &__head {
            border-bottom: black 2px solid;
            font-weight: bolder;

            display: flex;
            align-self: center;
            justify-self: center;
            &__name {
            }
        }

        &__items {


            overflow-y: auto;
            scroll-behavior: smooth;

            display: flex;
            height: 500px;
            width: auto;

            flex-direction: column;
            align-items: center;

            &::-webkit-scrollbar {
                width: 0;
            }

            &__item {
                background-color: white;
                border-radius: 30px;
                height: 175px;
                width: 865px;
                margin: 10px;
                padding: 10px;

                position: relative;

                display: grid;
                grid-template-columns: 20% 80%;
                grid-template-rows: 100% 100%;

                transition: 0.5s;

                &__image {
                    margin: 10px;
                    border-radius: 20px;

                    object-fit: cover;

                    width: 100%;
                    height: 90%;
                    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
                    transition: transform 0.2s ease;

                    position: relative;

                    &:hover {
                        transform: scale(1.04);
                    }

                }

                &__info {
                    margin: 10px;

                    position: relative;

                    max-width: 100%;
                    max-height: 100%;

                    display: grid;
                    grid-template-columns: 50% 50%;
                    grid-template-rows: 50% 50%;

                    * {
                        font-size: 24px;
                        padding: 10px;
                    }

                    &__delete {

                        display: flex;
                        position: absolute;

                        right: 0;
                        bottom: 0;

                        cursor: pointer;

                        margin: 10px 30px 6px 10px;

                        *{
                            font-size: 18px;
                            transition: transform 0.5s ease-out;
                        }


                        &__icon{
                            justify-self: end;
                            align-self: center;
                        }

                        &__name{
                            padding-right: 4px;
                        }

                    }

                    &__brand {
                    }
                    &__price_count {

                        max-width: 100%;
                        max-height: 100%;

                        min-height: 50%;
                        min-width: 50%;

                        justify-self: end;

                        position: relative;

                        padding: 5px;

                        display: flex;
                        flex-direction: column;

                        &__price{
                            color: red;
                            justify-self: right;
                            align-self: center;
                        }

                        &__count{

                            display: flex;
                            border: #c5c5c5 2px solid;
                            border-radius: 20px;

                            padding: 2px;

                            align-self: center;
                            justify-content: center;

                            transform: scale(0.8);

                            &__plus{
                                cursor: pointer;
                            }
                            &__number{}
                            &__minus{
                                cursor: pointer;
                            }

                        }
                    }
                }
            }
        }
    }

    &__right-nav{

        position: relative;

        height: auto;

        display: grid;
        grid-template-rows: 20% 80%;

        &__information{

            position: relative;

            display: grid;
            grid-template-rows: 15% 70% 15%;

            background-color: #ffffff;

            border-radius: 5%;

            max-width: 400px;
            max-height: 300px;

            box-shadow: inset 0 2px 10px 1px rgba(0,0,0,.3);

            *{
                //border: 1px black solid;
            }

            &__head{
                align-content: center;
                font-weight: bolder;
                &__name{
                    align-self: center;
                    font-size:24px;
                    margin: 18px 18px 18px 28px;
                }
            }

            &__description{
                display: grid;
                grid-template-rows: 50% 50%;

                &__count-price{
                    display: grid;
                    grid-template-rows: 40% 60%;
                    grid-template-columns: 50% 50%;
                    font-weight: bolder;

                    margin-top: 20px;

                    &__count{
                        margin-left: 30px;
                    }

                    &__price{
                        margin-right: 30px;
                        justify-self: flex-end;
                    }

                    &__discount{
                        margin-left: 30px;
                    }

                    &__discount-price{
                        margin-right: 30px;
                        justify-self: flex-end;
                    }


                }

                &__result{
                    display: grid;
                    grid-template-columns: 50% 50%;
                    font-weight: bolder;

                    *{
                        align-self: center;
                        font-size: 28px;
                    }

                    &__name{
                        margin-left: 30px;
                    }

                    &__price{
                        justify-self: flex-end;
                        margin-right: 30px;
                    }
                }


            }

            &__button-chapter{
                position: relative;
                font-weight: bolder;
                &__button{

                    position: absolute;
                    left:20%;

                    background-color: black;
                    color:white;
                    width: 60%;
                    height: 80%;
                    display: block;

                    border-radius: 10px;
                    transform: scale(1.2);

                    &:hover{
                        background-color: rgb(51, 50, 50);
                        cursor: pointer;
                    }

                    &.disable{
                        background-color: rgb(124, 23, 23);
                        pointer-events: none;
                    }
                }
            }
        }
    }
}

._message_{
    font-size: 25px;
}

.fade-enter {
    opacity: 0;
    transform: scale(0.9);
}

.fade-enter-active {
    opacity: 1;
    transform: scale(1);
    transition: opacity 500ms, transform 500ms;
}

.fade-exit {
    opacity: 1;
    transform: scale(1);
}

.fade-exit-active {
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 500ms, transform 500ms;
}
