.header {
    background-color: #cbc5c5;
    user-select: none;
    z-index: 1;
    height: 100px;
    border-bottom: 2px black solid;
    border-top: 15px black solid;

    &__mainHeader {
        height: 100%;
        width: 100%;
        display: grid;
        grid-template-columns: 15% 65% 20%;

        *{
            font-weight: bold;
        }

        &__logo {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: left;
            &__name{
                color: black;
                margin-left: 20px;
                font-size: 30px;
            }

        }

        &__items {
            color: black;

            display: flex;
            justify-content: center;
            align-items: center;

            :hover {
                cursor: pointer;
                transform: scale(1.1);
                color: #000000;
            }

            &__link {
                padding: 10px;
                position: relative;
                color: black;
                text-decoration: none;

                &--active {
                    padding: 10px;
                    position: relative;

                    text-decoration: underline;
                    text-decoration-color: #0e19a1;
                    text-decoration-thickness: 3px;
                    color: black;
                }
            }
        }

        &__side {
            color: black;

            width: 100%;

            display: flex;
            align-items: center;
            justify-content: right;

            &__components{
                display: flex;

                *{
                    margin-right: 10px;
                }

                &__basket {
                    display: flex;
                    flex-direction: row;
                    text-decoration: none;
                    *{
                        align-self: center;
                        justify-self: center;
                        font-style: normal;
                        color: black;
                    }

                    &__name{
                        text-decoration: none;
                    }

                    &__logo{
                        font-size: 30px;
                    }

                    &:hover{
                        transform: scale(1.1);
                    }

                }

                &__account {
                    border: 2px black solid;
                    border-radius: 5px;

                    padding: 6px 16px;
                    cursor: pointer;


                    &:focus{
                        transform: scale(1.1);
                    }
                }
            }
        }
    }
}
