.header {
    background-color: black;
    user-select: none;
    z-index: 1;
    height: 100px;

    &__mainHeader {
        height: 100%;
        width: 100%;
        display: grid;
        grid-template-columns: 15% 65% 20%;

        &__logo {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: left;
            &__name{
                color: white;
                margin-left: 20px;
                font-size: 30px;
            }

        }

        &__items {
            color: white;

            display: flex;
            justify-content: center;
            align-items: center;

            :hover {
                cursor: pointer;
                transform: scale(1.1);
                color: #c5c5c5;
            }

            &__link {
                padding: 10px;
                position: relative;
                color: white;
                text-decoration: none;

                &--active {
                    padding: 10px;
                    position: relative;

                    text-decoration: underline;
                    text-decoration-color: #4605ff;
                    text-decoration-thickness: 3px;
                    color: white;
                }
            }
        }

        &__side {
            color: #ffffff;

            width: 100%;

            display: flex;
            align-items: center;
            justify-content: right;

            &__components{
                display: flex;

                *:hover {
                    color: salmon;
                    cursor: pointer;
                }

                *{
                    margin-right: 10px;
                }

                &__basket {
                    * {
                        font-style: normal;
                        text-decoration: none;
                        color: white;
                    }

                }

                &__account {
                }
            }
        }
    }
}
