.main-window{
  height: 100vh;
  width: 100vw;
  display: flex;
  user-select: none;
  position: fixed;
  opacity: 0;
  pointer-events: none;
  transition: 0.5s;
  justify-content: right;
  align-items: start;

  &.active{
    opacity: 1;
    pointer-events: auto;
  }

  &__window-profile{
    background-color: white;
    padding: 15px;
    border-radius: 10%;
    margin-right: 5px;
    margin-top: 5px;
  }
}