@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.main-selection-product {
    display: grid;
    grid-template-columns: 60% 30%;

    &__left{
        display: grid;
        grid-template-rows: 70% 30%;

        &__image-block{
            display: flex;
            justify-content: center;
            &__image{
                width: 55%;
                margin: 20px;

                img{
                    display: block;
                    object-fit: cover;
                    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
                }
            }
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        max-width: 500px;
        min-width: 400px;

        &__brand{
            font-family: "Playfair Display", serif;
            font-optical-sizing: auto;
            font-style: normal;
            font-size: 22px;
        }

        &__price{
            font-family: "Lexend", sans-serif;
            font-optical-sizing: auto;
            font-style: normal;

            display: inline-flex;
            gap: 10px;

            #oldPrice{
                position: relative;

                &:before {
                    content: "";
                    border-bottom: 2px solid red;
                    transform: rotate(355deg);
                    position: absolute;
                    bottom: 45px;
                    width: 100%;
                }
            }

            #discount{
                font-family: "Lexend", sans-serif;
                font-optical-sizing: auto;
                font-style: normal;
                color:red;
            }

        }

        &__color{
            margin: 20px 20px 10px 20px;
            color: #4b4949;
            display: inline-flex;
            gap: 7px;
            p{
                color: black;
            }
        }

        &__sizes{
            margin: 20px 20px 10px 20px;
            display: flex;
            flex-direction: column;
            color: #4b4949;

            &__components{

                margin-top: 10px;
                display: flex;
                flex-wrap: wrap;

                &__size{
                    user-select: none;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 30px;
                    width: 65px;
                    margin: 5px;
                    background-color: white;
                    border: 2px rgba(105, 103, 103, 0.75) solid;
                    padding: 17px;

                    &:hover{
                        border: 2px rgba(112, 23, 199, 0.75) solid;
                        cursor: pointer;
                    }

                    &.active{
                        border: 2px rgba(112, 23, 199, 0.75) solid;
                    }

                }

            }

        }

        &__button-window{
            margin-top: 20px;
            margin-left: 20px;
            width: auto;
            display: flex;
            justify-content: left;
            align-items: center;
            &__button{
                width: 50%;
                border: 2px black solid;
                border-radius: 10px;
                padding: 10px 12px 10px 12px;
                background-color: rgb(0, 0, 0);
                color: #ffffff;
                
                &:hover{
                    cursor: pointer;
                    background-color: rgba(0, 0, 0, 0.8);
                }

                &:active{
                    transition: 1.3s;
                    transform: scale(0.9);
                }
            }
        }

        h1,h2,h3{
            margin: 20px 20px 10px 20px;
        }

    }
}
