.main-window {
    height: 100%;
    width: 100%;
    display: flex;
    user-select: none;
    position: fixed;
    opacity: 0;
    pointer-events: none;
    transition: 0.5s;
    justify-content: right;
    align-items: start;

    &.active {
        opacity: 1;
        pointer-events: auto;
    }

    &__window-profile {
        color: white;
        font-weight: bolder;
        position: absolute;
        width: 200px;
        background-color: #0a8ea9;
        padding: 15px;
        border-radius: 10%;
        margin-right: 5px;
        margin-top: 5px;
        box-shadow: 0 15px 30px 0 rgba(59, 57, 57, 0.83),
        0 5px 15px 0 rgba(31, 31, 31, 0.96);

        &__head{
            border-bottom: 2px white solid;
            align-self: end;
            color: white;
        }

        &__nav{
            text-decoration: none;
        }

        &__info{
            font-weight: bolder;
            font-size: 16px;
            margin-top: 20px;

            li{
                color:white;
            }
        }

        &__buttons{
            display: flex;
            flex-direction: column;
            margin-top: 20px;

            justify-content: center;
            align-items: center;

            &__replenish{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }

            input{
                width: 80%;
                border:none;
                background-color: rgba(10, 142, 169, 0);
                border-bottom: 2px rgba(0, 83, 255, 0.96) solid;
                text-decoration-color: white;
                color: white;


                &::placeholder{
                    color: white;
                }

                &:focus{
                    transition: 1s;
                    border-bottom: 2px green solid
                }
            }

            button{
                width: 100%;
                background-color: rgba(91, 162, 180, 0.46);
                border-radius: 10px;
                margin: 2px;
                font-size: 18px;
                color: white;
                cursor: pointer;
                border: 2px white solid;
                box-shadow: 0 15px 30px 0 rgba(255, 255, 255, 0.38),
                0 5px 15px 0 rgba(255, 255, 255, 0.31);

                &:active{
                    outline: none;
                    transform: scale(0.98);
                }

                &#logout{
                    background-color: rgba(0, 0, 0, 0.2);
                    width: 50%;
                    margin-top: 15px;
                    &:hover{
                        box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.56),
                        0 5px 15px 0 rgba(0, 0, 0, 0.56);
                    }
                }
            }
        }

    }
}
.profile-main-window{
    background-color: #cbc5c5;
    display: flex;
    user-select: none;
    font-weight: bold;

    justify-content: center;

    &__profile{
        display: flex;
        #my_data{
            justify-self: end;
        }

        &__form{

            &__inputs {
                display: grid;
                grid-template-columns: 50% 50%;
                grid-template-rows: 50% 50%;
            }

            &__radio{
                width: 40%;
                margin-top: 20px;

                &__label{
                    cursor: pointer;
                    margin: 5px 5px 5px 10px;
                    width: max-content;
                }

                &__fieldset{
                    border: 2px black solid;
                    display: flex;
                    flex-direction: column;
                }

                &__legend{
                    font-size: 20px;
                    margin-left: 10px;
                }
            }

            &__email{
                margin-top: 30px;
                label{
                    color: rgba(16, 16, 16, 0.69);
                    font-size: 12px;
                }
                p{
                    font-size: 20px;
                }
            }

            &__phone{
                margin-top: 30px;
            }

            &__save{
                font-weight: normal;
                margin-top: 30px;
                background-color: black;
                border-radius: 9px;
                font-size: 18px;
                color: white;
                cursor: pointer;
                padding: 5px 10px 5px 10px;

                &:hover{
                    background-color: rgba(0, 0, 0, 0.72);
                }

            }

        }
    }
}
