.main-window-products {
    display: grid;
    grid-template-columns: 200px 1fr;
    height: 100%;
}

.section-pagination{
    display: grid;
}

.pagination{
    display: flex;
    justify-content: center;
    align-items: end;
    user-select: none;

    &__numbers{
        display: flex;
        gap: 5px;
        margin: 20px;

        &__page-item{
            display: flex;
            background-color: black;
            color: white;
            border: 2px black solid;
            width: 30px;
            height: 30px;
            border-radius: 10px;
            cursor: pointer;

            justify-content: center;
            align-items: center;

            &.active{
                background-color: rgb(65, 64, 64);
            }

            &:hover{
                background-color: rgb(65, 64, 64);
            }

        }
    }

}

.section {
    background-color: #cbc5c5;
    display: flex;
    position: relative;

    user-select: none;

    justify-content: start;
    align-items: flex-start;
    flex-flow: row wrap;

    word-wrap: break-word;

    &__item {
        width: 350px;
        height: 350px;
        margin: 20px;
        padding: 2px;
        color: aliceblue;
        border-radius: 10px;

        :hover{
            background-color: #eae9e9;
            cursor: pointer;
            border-radius: 10px;
        }

        &:hover {
            box-shadow: 5px 5px 10px #ffffff;
            transform: scale(1.03);
            background: #eae9e9;
        }


        &__components {
            display: grid;
            grid-template-rows: 80% 20%;
            width: 100%;
            height: 100%;
            position: relative;
            background: #ffffff;
            border-radius: 10px;

            &__basket {
                color: black;
                position: fixed;
                top: 0;
                right: 0;
                padding: 10px;
            }

            &__image {
                width: 100%;
                position: relative;
                overflow: hidden;
                z-index: 0;

                &__discount-baner{
                    position: absolute;
                    width: 300px;
                    height: 50px;
                    transform: rotate(328deg) translateX(-90px) translateY(-40px);
                    background: #c22626;
                    top:0;
                    z-index: 1;

                    justify-content: center;

                    &:hover{
                        background: #c22626;
                        cursor: default;
                    }

                    :hover{
                        background: #c22626;
                        cursor: default;
                    }
                }

                &__self {
                    border-radius: 10px;
                    width: 100%;
                    height: 90%;
                    object-fit: cover;
                    border-bottom: black 2px solid;

                    &:hover {
                        transform: scale(1.01);
                        box-shadow: black 0px 1px;
                    }
                }
            }

            &__items {
                display: grid;
                grid-template-columns: 50% 50%;
                color: black;
                min-height: initial;

                &__component {
                    padding: 4px;
                    position: relative;

                    justify-content: start;
                    align-items: center;
                    display: inline-flex;
                    gap: 5px;

                    p[id = "discount"]{
                        color: red;
                        margin: 0;
                    }
                    p[id = "oldPrice"]{
                        position: relative;
                        text-decoration: none;

                        &:before {
                            content: "";
                            border-bottom: 2px solid red;
                            transform: rotate(340deg);
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 50%;
                        }
                    }
                }
            }
        }
    }
    &__nothing {
    }
}

.asside {
    &__main {
        background-color: #000000;
        padding: 10px;
        border-left: 5px solid black;
        border-top: 5px solid black;
    }
}

h1[id=empty]{
    position: absolute;
    right: 50%;
}