@charset "UTF-8";
.header {
  background-color: #cbc5c5;
  user-select: none;
  z-index: 1;
  height: 100px;
  border-bottom: 2px black solid;
  border-top: 15px black solid;
}
.header__mainHeader {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 15% 65% 20%;
}
.header__mainHeader * {
  font-weight: bold;
}
.header__mainHeader__logo {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: left;
}
.header__mainHeader__logo__name {
  color: black;
  margin-left: 20px;
  font-size: 30px;
}
.header__mainHeader__items {
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__mainHeader__items :hover {
  cursor: pointer;
  transform: scale(1.1);
  color: #000000;
}
.header__mainHeader__items__link {
  padding: 10px;
  position: relative;
  color: black;
  text-decoration: none;
}
.header__mainHeader__items__link--active {
  padding: 10px;
  position: relative;
  text-decoration: underline;
  text-decoration-color: #0e19a1;
  text-decoration-thickness: 3px;
  color: black;
}
.header__mainHeader__side {
  color: black;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: right;
}
.header__mainHeader__side__components {
  display: flex;
}
.header__mainHeader__side__components * {
  margin-right: 10px;
}
.header__mainHeader__side__components__basket {
  display: flex;
  flex-direction: row;
  text-decoration: none;
}
.header__mainHeader__side__components__basket * {
  align-self: center;
  justify-self: center;
  font-style: normal;
  color: black;
}
.header__mainHeader__side__components__basket__name {
  text-decoration: none;
}
.header__mainHeader__side__components__basket__logo {
  font-size: 30px;
}
.header__mainHeader__side__components__basket:hover {
  transform: scale(1.1);
}
.header__mainHeader__side__components__account {
  border: 2px black solid;
  border-radius: 5px;
  padding: 6px 16px;
  cursor: pointer;
}
.header__mainHeader__side__components__account:focus {
  transform: scale(1.1);
}

/**
  Нормализация блочной модели
 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(h1, h2, h3, h4, h5, h6, p, ul, ol, dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
  --paragraphMarginBottom: 24px;
  text-wrap: pretty;
  margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
  Упрощаем работу с изображениями
 */
img {
  display: block;
  max-width: 100%;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
   Пригодится в большинстве ситуаций
   (когда, например, нужно будет "прижать" футер к низу сайта)
  */
  height: 100vh;
  /**
   Плавный скролл
  */
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h4, h5, h6 {
  text-wrap: balance;
}

body {
  /**
   Пригодится в большинстве ситуаций
   (когда, например, нужно будет "прижать" футер к низу сайта)
  */
  min-height: 100vh;
  background-color: #cbc5c5;
  /**
   Унифицированный интерлиньяж
  */
  line-height: 1.5;
}

/**
  Приводим к единому цвету svg-элементы
 */
svg *[fill] {
  fill: currentColor;
}

svg *[stroke] {
  stroke: currentColor;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  transition-property: fill, stroke;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
#main {
  min-height: 100vh;
  min-width: 100vh;
}

.main-window-products {
  display: grid;
  grid-template-columns: 200px 1fr;
}

.section {
  background-color: #cbc5c5;
  display: flex;
  position: relative;
  user-select: none;
  justify-content: start;
  align-items: flex-start;
  flex-flow: row wrap;
  word-wrap: break-word;
}
.section__item {
  width: 350px;
  height: 350px;
  margin: 20px;
  padding: 2px;
  color: aliceblue;
  border-radius: 10px;
}
.section__item :hover {
  background-color: #eae9e9;
  cursor: pointer;
  border-radius: 10px;
}
.section__item:hover {
  box-shadow: 5px 5px 10px #ffffff;
  transform: scale(1.03);
  background: #eae9e9;
}
.section__item__components {
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
  background: #ffffff;
  border-radius: 10px;
  flex-flow: column nowrap;
}
.section__item__components__basket {
  color: black;
  position: fixed;
  top: 0;
  right: 0;
  padding: 10px;
}
.section__item__components__image {
  width: 100%;
  min-height: 80%;
}
.section__item__components__image__self {
  border-radius: 10px;
  width: 100%;
  height: 90%;
  object-fit: cover;
  border-bottom: black 2px solid;
}
.section__item__components__image__self:hover {
  transform: scale(1.01);
  box-shadow: black 0px 1px;
}
.section__item__components__items {
  display: grid;
  grid-template-columns: 50% 50%;
  color: black;
}
.section__item__components__items__component {
  padding: 4px;
  justify-content: start;
  align-items: center;
  display: inline-flex;
  gap: 5px;
}
.section__item__components__items__component p[id=discount] {
  color: red;
  margin: 0;
}
.section__item__components__items__component p[id=oldPrice] {
  position: relative;
  text-decoration: none;
}
.section__item__components__items__component p[id=oldPrice]:before {
  content: "";
  border-bottom: 2px solid red;
  transform: rotate(340deg);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
}
.asside__main {
  background-color: #000000;
  padding: 10px;
  border-left: 5px solid black;
  border-top: 5px solid black;
}

h1[id=empty] {
  position: absolute;
  right: 50%;
}

.App {
  min-height: 100vh;
  display: grid;
  grid-template-rows: 100px;
}
.App * {
  font-family: "Arial", "Montserrat", serif;
}

#main {
  min-height: 100%;
  min-width: 100%;
}

.main {
  display: grid;
  grid-template-columns: 70% 30%;
}
.main__image {
  border: 2px salmon solid;
}
.main__info {
  border: 2px salmon solid;
  display: grid;
  grid-template-row: 100px 70%;
}
.main__info__name {
  justify-self: center;
  align-self: center;
}

.main_window_basket {
  display: grid;
  height: 100%;
  width: 100%;
  background-color: #cbc5c5;
  user-select: none;
}
.main_window_basket__order {
  height: auto;
  position: relative;
  display: grid;
  grid-template-rows: 10% 90%;
}
.main_window_basket__order__execution {
  max-height: 95%;
  margin: 10px;
  min-height: 400px;
}
.main_window_basket__order__execution__components {
  justify-self: start;
  align-self: center;
  display: grid;
  grid-template-rows: 40% 40%;
  grid-template-columns: 33% 33% 33%;
}
.main_window_basket__order__execution__components :nth-child(4),
.main_window_basket__order__execution__components :nth-child(5) {
  margin-top: 20px;
}
.main_window_basket__order__execution__info-customer {
  margin-left: 100px;
}
.main_window_basket__order__execution__info-customer__info {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-row: 50% 50%;
}
.main_window_basket__order__execution__info-customer__info input {
  width: 80%;
}
.main_window_basket__order__head {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.main_window_basket__order__head__name {
  border-bottom: black 2px solid;
  justify-self: center;
}
.main_window_basket__order__head__exit {
  position: absolute;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-weight: bolder;
}
.main_window_basket__order__head__exit:hover {
  transition: 0.5s;
  cursor: pointer;
}
.main_window_basket__order__head__exit__arrow {
  font-size: 26px;
}
.main_window_basket__basket {
  height: auto;
  position: relative;
  display: grid;
  grid-template-rows: 10% 90%;
}
.main_window_basket__basket__head {
  border-bottom: black 2px solid;
  font-weight: bolder;
  display: flex;
  align-self: center;
  justify-self: center;
}
.main_window_basket__basket__items {
  overflow-y: auto;
  scroll-behavior: smooth;
  display: flex;
  height: 500px;
  width: auto;
  flex-direction: column;
  align-items: center;
}
.main_window_basket__basket__items::-webkit-scrollbar {
  width: 0;
}
.main_window_basket__basket__items__item {
  background-color: white;
  border-radius: 30px;
  height: 175px;
  width: 865px;
  margin: 10px;
  padding: 10px;
  position: relative;
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: 100% 100%;
  transition: 0.5s;
}
.main_window_basket__basket__items__item__image {
  margin: 10px;
  border-radius: 20px;
  object-fit: cover;
  width: 100%;
  height: 90%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease;
  position: relative;
}
.main_window_basket__basket__items__item__image:hover {
  transform: scale(1.04);
}
.main_window_basket__basket__items__item__info {
  margin: 10px;
  position: relative;
  max-width: 100%;
  max-height: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
}
.main_window_basket__basket__items__item__info * {
  font-size: 24px;
  padding: 10px;
}
.main_window_basket__basket__items__item__info__delete {
  display: flex;
  position: absolute;
  right: 0;
  bottom: 0;
  cursor: pointer;
  margin: 10px 30px 6px 10px;
}
.main_window_basket__basket__items__item__info__delete * {
  font-size: 18px;
  transition: transform 0.5s ease-out;
}
.main_window_basket__basket__items__item__info__delete__icon {
  justify-self: end;
  align-self: center;
}
.main_window_basket__basket__items__item__info__delete__name {
  padding-right: 4px;
}
.main_window_basket__basket__items__item__info__price_count {
  max-width: 100%;
  max-height: 100%;
  min-height: 50%;
  min-width: 50%;
  justify-self: end;
  position: relative;
  padding: 5px;
  display: flex;
  flex-direction: column;
}
.main_window_basket__basket__items__item__info__price_count__price {
  color: red;
  justify-self: right;
  align-self: center;
}
.main_window_basket__basket__items__item__info__price_count__count {
  display: flex;
  border: #c5c5c5 2px solid;
  border-radius: 20px;
  padding: 2px;
  align-self: center;
  justify-content: center;
  transform: scale(0.8);
}
.main_window_basket__basket__items__item__info__price_count__count__plus {
  cursor: pointer;
}
.main_window_basket__basket__items__item__info__price_count__count__minus {
  cursor: pointer;
}
.main_window_basket__right-nav {
  position: relative;
  height: auto;
  display: grid;
  grid-template-rows: 20% 80%;
}
.main_window_basket__right-nav__information {
  position: relative;
  display: grid;
  grid-template-rows: 15% 70% 15%;
  background-color: #ffffff;
  border-radius: 5%;
  max-width: 400px;
  max-height: 300px;
  box-shadow: inset 0 2px 10px 1px rgba(0, 0, 0, 0.3);
}
.main_window_basket__right-nav__information__head {
  align-content: center;
  font-weight: bolder;
}
.main_window_basket__right-nav__information__head__name {
  align-self: center;
  font-size: 24px;
  margin: 18px 18px 18px 28px;
}
.main_window_basket__right-nav__information__description {
  display: grid;
  grid-template-rows: 50% 50%;
}
.main_window_basket__right-nav__information__description__count-price {
  display: grid;
  grid-template-rows: 40% 60%;
  grid-template-columns: 50% 50%;
  font-weight: bolder;
  margin-top: 20px;
}
.main_window_basket__right-nav__information__description__count-price__count {
  margin-left: 30px;
}
.main_window_basket__right-nav__information__description__count-price__price {
  margin-right: 30px;
  justify-self: flex-end;
}
.main_window_basket__right-nav__information__description__count-price__discount {
  margin-left: 30px;
}
.main_window_basket__right-nav__information__description__count-price__discount-price {
  margin-right: 30px;
  justify-self: flex-end;
}
.main_window_basket__right-nav__information__description__result {
  display: grid;
  grid-template-columns: 50% 50%;
  font-weight: bolder;
}
.main_window_basket__right-nav__information__description__result * {
  align-self: center;
  font-size: 28px;
}
.main_window_basket__right-nav__information__description__result__name {
  margin-left: 30px;
}
.main_window_basket__right-nav__information__description__result__price {
  justify-self: flex-end;
  margin-right: 30px;
}
.main_window_basket__right-nav__information__button-chapter {
  position: relative;
  font-weight: bolder;
}
.main_window_basket__right-nav__information__button-chapter__button {
  position: absolute;
  left: 20%;
  background-color: black;
  color: white;
  width: 60%;
  height: 80%;
  display: block;
  border-radius: 10px;
  transform: scale(1.2);
}
.main_window_basket__right-nav__information__button-chapter__button:hover {
  background-color: rgb(51, 50, 50);
  cursor: pointer;
}
.main_window_basket__right-nav__information__button-chapter__button.disable {
  background-color: rgb(124, 23, 23);
  pointer-events: none;
}

._message_ {
  font-size: 25px;
}

.fade-enter {
  opacity: 0;
  transform: scale(0.9);
}

.fade-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 500ms, transform 500ms;
}

.fade-exit {
  opacity: 1;
  transform: scale(1);
}

.fade-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 500ms, transform 500ms;
}

input {
  font-weight: bolder;
}
input:focus {
  outline: none;
}

.mainWindow {
  background-color: rgba(78, 144, 157, 0.44);
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  position: fixed;
  left: 0;
  top: 0;
  opacity: 0;
  transition: 0.5s;
  pointer-events: none;
}
.mainWindow * {
  font-weight: bolder;
}
.mainWindow.active {
  opacity: 1;
  pointer-events: auto;
}
.mainWindow__authenticationWindow {
  display: grid;
  grid-template-rows: 30% 50% 20%;
  background-color: #0a8ea9;
  height: 350px;
  width: 450px;
  box-shadow: 0 15px 30px 0 rgba(59, 57, 57, 0.83), 0 5px 15px 0 rgba(31, 31, 31, 0.96);
  transition: 1s;
  opacity: 1;
  border-radius: 7px;
}
.mainWindow__authenticationWindow__head {
  padding: 10px;
  margin: 10px 10px 40px;
  text-align: center;
  color: white;
  font-weight: bold;
}
.mainWindow__authenticationWindow__inputs {
  display: grid;
  justify-content: center;
  font-weight: bold;
  width: 100%;
  align-content: space-between;
}
.mainWindow__authenticationWindow__input {
  align-self: center;
  text-align: center;
  display: flex;
  border-radius: 6px;
}
.mainWindow__authenticationWindow__input:nth-child(5) {
  margin-bottom: 20px;
}
.mainWindow__authenticationWindow__input:nth-child(1), .mainWindow__authenticationWindow__input:nth-child(2), .mainWindow__authenticationWindow__input:nth-child(3), .mainWindow__authenticationWindow__input:nth-child(4), .mainWindow__authenticationWindow__input:nth-child(5) {
  color: white;
  padding-left: 6px;
  background-color: #0a8ea9;
  text-align: start;
  font-size: 16px;
  transform: scale(1.2);
  justify-self: center;
  border: 2px white solid;
}
.mainWindow__authenticationWindow__input:nth-child(1)::placeholder, .mainWindow__authenticationWindow__input:nth-child(2)::placeholder, .mainWindow__authenticationWindow__input:nth-child(3)::placeholder, .mainWindow__authenticationWindow__input:nth-child(4)::placeholder, .mainWindow__authenticationWindow__input:nth-child(5)::placeholder {
  color: white;
  font-size: 15px;
  padding: 5px;
}
.mainWindow__authenticationWindow__error {
  margin: 10px;
  transform: scale(0);
  color: red;
}
.mainWindow__authenticationWindow__error.active {
  transform: scale(1);
}
.mainWindow__authenticationWindow__under {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mainWindow__authenticationWindow__under__botton {
  font-weight: bold;
  margin: 10px;
  height: 50%;
  width: 50%;
  justify-self: center;
  cursor: pointer;
  color: #0a8ea9;
  border: 2px white solid;
  border-radius: 20px;
  background-color: white;
  box-shadow: 0 15px 30px 0 rgba(255, 255, 255, 0.38), 0 5px 15px 0 rgba(255, 255, 255, 0.31);
}
.mainWindow__authenticationWindow__under__botton:hover {
  transform: scale(1.1);
}
.mainWindow__authenticationWindow__under__checkout {
  color: white;
  cursor: pointer;
  margin-bottom: 20px;
}

.main-window {
  height: 100%;
  width: 100%;
  display: flex;
  user-select: none;
  position: fixed;
  opacity: 0;
  pointer-events: none;
  transition: 0.5s;
  justify-content: right;
  align-items: start;
}
.main-window.active {
  opacity: 1;
  pointer-events: auto;
}
.main-window__window-profile {
  color: white;
  font-weight: bolder;
  position: absolute;
  width: 200px;
  background-color: #0a8ea9;
  padding: 15px;
  border-radius: 10%;
  margin-right: 5px;
  margin-top: 5px;
  box-shadow: 0 15px 30px 0 rgba(59, 57, 57, 0.83), 0 5px 15px 0 rgba(31, 31, 31, 0.96);
}
.main-window__window-profile__head {
  border-bottom: 2px white solid;
  align-self: end;
  color: white;
}
.main-window__window-profile__nav {
  text-decoration: none;
}
.main-window__window-profile__info {
  font-weight: bolder;
  font-size: 16px;
  margin-top: 20px;
}
.main-window__window-profile__info li {
  color: white;
}
.main-window__window-profile__buttons {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
}
.main-window__window-profile__buttons__replenish {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-window__window-profile__buttons input {
  width: 80%;
  border: none;
  background-color: rgba(10, 142, 169, 0);
  border-bottom: 2px rgba(0, 83, 255, 0.96) solid;
  text-decoration-color: white;
  color: white;
}
.main-window__window-profile__buttons input::placeholder {
  color: white;
}
.main-window__window-profile__buttons input:focus {
  transition: 1s;
  border-bottom: 2px green solid;
}
.main-window__window-profile__buttons button {
  width: 100%;
  background-color: rgba(91, 162, 180, 0.46);
  border-radius: 10px;
  margin: 2px;
  font-size: 18px;
  color: white;
  cursor: pointer;
  border: 2px white solid;
  box-shadow: 0 15px 30px 0 rgba(255, 255, 255, 0.38), 0 5px 15px 0 rgba(255, 255, 255, 0.31);
}
.main-window__window-profile__buttons button:active {
  outline: none;
  transform: scale(0.98);
}
.main-window__window-profile__buttons button#logout {
  background-color: rgba(0, 0, 0, 0.2);
  width: 50%;
  margin-top: 15px;
}
.main-window__window-profile__buttons button#logout:hover {
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.56), 0 5px 15px 0 rgba(0, 0, 0, 0.56);
}

.profile-main-window {
  background-color: #cbc5c5;
  display: flex;
  user-select: none;
  font-weight: bold;
  justify-content: center;
}
.profile-main-window__profile {
  display: flex;
}
.profile-main-window__profile #my_data {
  justify-self: end;
}
.profile-main-window__profile__form__inputs {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
}
.profile-main-window__profile__form__radio {
  width: 40%;
  margin-top: 20px;
}
.profile-main-window__profile__form__radio__fieldset {
  border: 2px black solid;
  display: flex;
  flex-direction: column;
}
.profile-main-window__profile__form__radio__legend {
  font-size: 20px;
  margin-left: 10px;
}
.profile-main-window__profile__form__email {
  margin-top: 30px;
}
.profile-main-window__profile__form__email label {
  color: rgba(16, 16, 16, 0.69);
  font-size: 12px;
}
.profile-main-window__profile__form__email p {
  font-size: 20px;
}
.profile-main-window__profile__form__phone {
  margin-top: 30px;
}
.profile-main-window__profile__form__save {
  font-weight: normal;
  margin-top: 30px;
  background-color: black;
  border-radius: 9px;
  font-size: 18px;
  color: white;
  cursor: pointer;
  padding: 5px 10px 5px 10px;
}
.profile-main-window__profile__form__save:hover {
  background-color: rgba(0, 0, 0, 0.72);
}

.Loading {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.49);
  width: 100%;
  height: 100%;
  pointer-events: none;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Loading.active {
  opacity: 1;
  pointer-events: auto;
}
.Loading__gif {
  width: 200px;
  height: 200px;
}

.Status-main-window {
  top: 0;
  left: 0;
  position: fixed;
  z-index: 2;
  width: 100%;
  height: 100%;
  display: flex;
  transition: 0.5s;
  opacity: 0;
  pointer-events: none;
  justify-content: center;
}
.Status-main-window.active {
  opacity: 1;
}
.Status-main-window__window {
  z-index: 3;
  margin-top: 20px;
  width: 20%;
  height: 6%;
  display: flex;
  background-color: white;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 10px;
  min-height: 52px;
}
.Status-main-window__window p {
  color: #000000;
  font-size: 18px;
  margin: 0;
}

.component {
  position: relative;
}
.component p {
  transform: scale(0);
  font-size: 12px;
  position: absolute;
  margin: 0;
  transition: 0.5s;
}
.component__input {
  margin-top: 10px;
  font-size: 20px;
  width: 90%;
  padding: 10px;
  border: none;
  background-color: #cbc5c5;
  border-bottom: 2px rgba(68, 66, 66, 0.62) solid;
  text-decoration-color: white;
  display: inline-block;
}
.component__input:invalid {
  border-bottom: 2px solid rgb(245, 36, 36);
}
.component__input::placeholder {
  color: rgba(0, 0, 0, 0.67);
}
.component__input:focus-visible {
  border-bottom: 2px solid black;
  transition: border-bottom-color 1s ease-in-out;
}

.radio {
  cursor: pointer;
  width: max-content;
}

.custom-radio {
  position: relative;
  display: inline-block;
  width: 16px;
  height: 16px;
  background-color: white;
  border: 2px darkblue solid;
  border-radius: 50%;
  vertical-align: text-top;
  margin-right: 5px;
}
.custom-radio::before {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #4605ff;
  box-shadow: 0 0 0 #4605ff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

.real-radio {
  display: none;
}

.real-radio:checked + .custom-radio::before {
  display: block;
}

.Sidebar-main {
  background-color: #cbc5c5;
  border-right: 2px solid black;
  user-select: none;
  height: 100vh;
}
.Sidebar-main__sorting {
  border-bottom: 1px black solid;
  padding: 10px;
}
.Sidebar-main__sorting__name {
  cursor: pointer;
}
.Sidebar-main__sorting__outstanding-window {
  margin-top: 5px;
  margin-bottom: 5px;
}
.Sidebar-main__sorting__outstanding-window__gap {
  display: inline-flex;
  flex-direction: row;
  gap: 5px;
}
.Sidebar-main__sorting__outstanding-window__gap__input {
  width: 50%;
  font-size: 0.8em;
  padding: 6px;
  border: 0;
  border-radius: 5px;
}
.Sidebar-main__sorting__outstanding-window__chooses {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.button-sort {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}
.button-sort button {
  border: none;
  outline: none;
  border-radius: 10px;
  background-color: #5809bb;
  color: white;
  padding: 5px 15px 5px 15px;
  cursor: pointer;
}
.button-sort button:active {
  transform: scale(0.96);
}
.button-sort button:hover {
  box-shadow: 2px 2px 10px 20px rgb(49, 8, 152) inset;
}

.checkbox {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.checkbox-org {
  display: none;
}

.checkbox-custom {
  position: relative;
  display: inline-block;
  vertical-align: sub;
  width: 16px;
  height: 16px;
  border: 1px black solid;
  border-radius: 3px;
  background-color: white;
  transition: all 0.25s cubic-bezier(0.4, 0, 0.23, 1);
}
.checkbox-custom::before {
  animation: checkbox-check 125ms cubic-bezier(0.4, 0, 0.23, 1) 0.25s forwards;
  border-bottom: 2px solid transparent;
  border-right: 2px solid transparent;
  box-sizing: content-box;
  content: "";
  height: 7px;
  left: -3px;
  position: absolute;
  top: 1px;
  transform-origin: 0 100%;
  width: 3px;
  display: none;
}

.checkbox-org:checked + .checkbox-custom::before {
  display: block;
}

.checkbox-org:checked + .checkbox-custom {
  animation: shrink-bounce 0.2s cubic-bezier(0.4, 0, 0.23, 1) forwards;
  background-color: #5809bb;
  border: 6px solid #5809bb;
}

@keyframes checkbox-check {
  0% {
    border-color: #fff;
    height: 0;
    transform: translateZ(0) rotate(45deg);
    width: 0;
  }
  33% {
    height: 0;
    transform: translateZ(0) rotate(45deg);
    width: 0.2em;
  }
  100% {
    border-color: #fff;
    height: 0.5em;
    transform: translate3d(0, -0.5em, 0) rotate(45deg);
    width: 0.2em;
  }
}
@keyframes shrink-bounce {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}
.checkbox-content {
  margin-left: 6px;
  font-size: 15px;
  gap: 6px;
  display: inline-flex;
}
.checkbox-content p {
  color: rgba(75, 75, 75, 0.82);
}

/*# sourceMappingURL=main.css.map */
