@charset "UTF-8";
.header {
  background-color: black;
  user-select: none;
}
.header__mainHeader {
  height: 100%;
  display: grid;
  grid-template-columns: 10% 80% 10%;
}
.header__mainHeader__logo {
  color: white;
  position: relative;
  justify-self: center;
  align-self: center;
}
.header__mainHeader__items {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__mainHeader__items :hover {
  cursor: pointer;
  transform: scale(1.1);
  color: #c5c5c5;
}
.header__mainHeader__items__link {
  padding: 10px;
  position: relative;
  color: white;
  text-decoration: none;
}
.header__mainHeader__items__link--active {
  padding: 10px;
  position: relative;
  text-decoration: underline;
  text-decoration-color: #4605ff;
  text-decoration-thickness: 3px;
  color: white;
}
.header__mainHeader__side {
  color: #ffffff;
  display: grid;
  justify-self: center;
  grid-auto-flow: column;
  align-self: center;
  font-size: 20px;
}
.header__mainHeader__side :hover {
  color: salmon;
  cursor: pointer;
  transform: scale(1.1);
}
.header__mainHeader__side__basket {
  margin-right: 10px;
}
.header__mainHeader__side__account {
  margin-right: 15px;
}

/**
  Нормализация блочной модели
 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
  Упрощаем работу с изображениями
 */
img {
  display: block;
  max-width: 100%;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
  /**
    Плавный скролл
   */
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100vh;
  min-width: 100vh;
  /**
    Унифицированный интерлиньяж
   */
  line-height: 1.5;
}

/**
  Приводим к единому цвету svg-элементы
 */
svg *[fill] {
  fill: currentColor;
}

svg *[stroke] {
  stroke: currentColor;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  transition-property: fill, stroke;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
#main {
  min-height: 100vh;
  min-width: 100vh;
}

.main-window-shopping-list {
  display: grid;
  grid-template-columns: 10% 82% 8%;
}

.nav {
  background-color: #cbc5c5;
  padding: 10px;
  border-right: 5px solid black;
  border-top: 5px solid black;
}

.section {
  background-color: #cbc5c5;
  display: flex;
  user-select: none;
  justify-content: space-around;
  align-items: flex-start;
  flex-flow: row wrap;
  word-wrap: break-word;
}
.section__item {
  width: 350px;
  height: 350px;
  margin: 20px;
  padding: 2px;
  color: aliceblue;
  border-radius: 10px;
}
.section__item :hover {
  background-color: #eae9e9;
  cursor: pointer;
  border-radius: 10px;
}
.section__item:hover {
  box-shadow: 5px 5px 10px #ffffff;
  transform: scale(1.03);
  background: #eae9e9;
}
.section__item__components {
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
  flex-flow: column nowrap;
}
.section__item__components__basket {
  color: black;
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
}
.section__item__components__image {
  width: 100%;
  min-height: 80%;
}
.section__item__components__image__self {
  border-radius: 10px;
  width: 100%; /* Растягивание изображения по ширине контейнера */
  height: 90%; /* Растягивание изображения по высоте контейнера */
  object-fit: cover; /* Масштабирование изображения для заполнения контейнера, сохраняя пропорции */
}
.section__item__components__image__self:hover {
  transform: scale(1.01);
}
.section__item__components__items {
  display: flex;
  color: black;
}
.section__item__components__items__component {
  padding: 4px;
  justify-content: center;
  align-items: center;
}
.asside__main {
  background-color: #cbc5c5;
  padding: 10px;
  border-left: 5px solid black;
  border-top: 5px solid black;
}

.App {
  min-height: 100vh;
  min-width: 100vh;
  display: grid;
  grid-template-rows: 100px 92%;
}

.main {
  display: grid;
  grid-template-columns: 70% 30%;
}
.main__image {
  border: 2px salmon solid;
}
.main__info {
  border: 2px salmon solid;
  display: grid;
  grid-template-row: 100px 70%;
}
.main__info__name {
  justify-self: center;
  align-self: center;
}

/*# sourceMappingURL=main.css.map */
